#catlinks {
    margin-bottom: 1rem;
}

ul#footericons, ul#footerlinks, ul#infolinks {
    margin-left: 0px !important;
}

ul#footericons li {
    display: inline;
    margin-left: 7px;
    white-space: nowrap;
}

ul#footerlinks li, ul#infolinks li {
    display: inline;
    margin-right: 7px;
    white-space: nowrap;
}

ul#personaltools {
    padding-inline-start: 0px;
}

ul#personaltools li {
    display: inline;
    margin-left: 7px;
    white-space: nowrap;
}

ul#toptabs .nav-link {
    padding: .5rem 1.5rem;
}

.mw-editsection {
    float: right;
}

.printfooter {
    visibility: hidden;
}

#pagehistory {
    padding-inline-start: 0px;
}
