
ul#footericons, ul#footerlinks, ul#infolinks  {
    padding-inline-start: 0px;
}

ul#footericons li {
    display: inline;
    margin-left: 7px;
    white-space: nowrap;
}

ul#footerlinks li, ul#infolinks li {
    display: inline;
    margin-right: 7px;
    white-space: nowrap;
}

ul#personaltools {
    padding-inline-start: 0px;
}

ul#personaltools li {
    display: inline;
    margin-left: 7px;
    white-space: nowrap;
}

ul#toptabs .nav-link {
    padding: .5rem 1.5rem;
}

.mw-editsection {
    float: right;
}

.mw-rcfilters-ui-changesListWrapperWidget .mw-changeslist-legend {
    background-color: #222 !important;
}

.printfooter {
    visibility: hidden;
}
#pagehistory {
    padding-inline-start: 0px;
}

#pagehistory li.selected {
    color: white;
    background-color: #444;
}